[Desktop Entry]
Name=Magic VideoX Pro
GenericName=Video Editor
X-GNOME-FullName=Magic VideoX Pro
Comment=Your X-Factor for composing awesome video
Exec=magicvideox-qt %F
Terminal=false
Type=Application
Icon=openshot-qt
Categories=GNOME;GTK;AudioVideo;Video;AudioVideoEditing;
MimeType=application/vnd.openshot-qt-project;
X-AppInstall-Package=openshot-qt