[Desktop Entry]
Name=Edit X Pro
GenericName=Video Editor
X-GNOME-FullName=Edit X Pro
Comment=Create and edit amazing videos and movies
Exec=openshot-qt %F
Terminal=false
Type=Application
Icon=openshot-qt
Categories=GNOME;GTK;AudioVideo;Video;AudioVideoEditing;
MimeType=application/vnd.openshot-qt-project;
X-AppInstall-Package=openshot-qt